
/* Body styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2A3D45;
    margin: 0;
    padding: 0;
    height: 15vh;
    width: 100%;
    min-height: 125px;
    overflow: visible;
}

h1#titleHeader {
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-left: 5%;
    font-size: clamp(2rem, 8vw, 2.5rem);
    max-width: 100%;
    color: white;
    white-space: pre-wrap;
}

/* Header navigation styles */
nav#headerNav {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-right: 5%;
    width: fit-content;
    justify-content: flex-end;
}

nav#headerNav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

nav#headerNav li {
    white-space: nowrap;
}

a.navLink {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    padding: 16px;
}

a.navLink:hover {
    color: black;
    background-color: #BBE6E4;
    text-decoration: none;
}


/* Desktop styles */
a#navIcon img {
    display: none;
}

/* Mobile styles */
@media screen and (max-width: 1000px) {
    a#navIcon img {
        display: inline-block;
        padding: 0;
        margin-right: 5%;
        width: 55px;
    }

    a#navIcon {
        margin-right: 5%;
    }

    nav#headerNav {
        display: none;
    }

    a#navIcon:hover+nav, nav#headerNav:hover {
        display: block;
        position: absolute;
        top: max(15vh, 125px);
        width: 100%;
        margin: 0%;
        background-color: #42BFDD;
        z-index: 2;
    }

    a#navIcon:hover+nav ul, nav#headerNav:hover ul{
        flex-direction: column;
    }
    
}

/* Main content styles */
section#mainContent {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

div#column1 {
    margin: 2%;
    width: 0;
    flex-grow: 3;
}

div#column2 {
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: #BBE6E4;
    width: 0;
    flex-grow: 2;
    height: fit-content;
}

    /* Merge the columns into a single vertical column for mobile */
@media screen and (max-width: 1000px) {
    section#mainContent {
        align-items: center;
        flex-direction: column;
    }

    div#column1 {
        width: 90%;
    }

    div#column2 {
        width: 90%;
    }    
}

/* Sidebar Styles */

div#sideBarContent {
    background-color: white;
    border: black 2px solid;
    padding: 10px;
    margin: 5%;
}

img#sideBarPhoto {
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    width: 50%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    margin: 20px auto;
}

/* Footer styles */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    background-color: #42BFDD;
    color: white;
}

footer p {
    font-size: 1em;
}

/* Footer navigation styles */
nav#footerNav {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    width: 90%;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}

nav#footerNav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav#footerNav li {
    margin: auto;
}